.upload {
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
}

.split {
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.btn {
  flex-grow: 1;
  text-align: center;
  margin: 5px;
  padding: 10px;
  background-color: #96969637;
  color: white;
  border-radius: 12px;
  border: none;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

input {
  display: none;
}

.uploadimg {
  width: 95%;
  height: 85%;
  display: block;
  margin: auto;
}

.st {
  color: white;
  text-align: center;
}

.toast {
  top: 18rem !important;
}
