.result-page {
    width: 100%;
    height: 100vh;
    align-items: center;
    text-align: center;
    overflow: scroll;
}

.result {
    border-radius: 50%;
    border: 4px solid snow;
}

.text1 {
    color: white;
    font-family: "Roboto-SemiBold", Helvetica;
    font-size: 16px;
}

.text-s {
    color: white;
    font-family: "Roboto-SemiBold", Helvetica;
    font-size: 12px;
}

.text-content {
    width: 60%;
    margin: auto;
}


.title {
    font-size: 24px;
    font-weight: 600;
}

.percent {
    width: 62%;
    margin: auto;
}

.line {
    width: 60px;
    height: 2px;
    background-color: white;
    margin: auto;
}

.mt {
    margin-top: 65px;
}