.display {
    height: 100vh;
    width: 100vw;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.back {
    z-index: -2;
}

.rectangle7 {
    background: rgba(0, 0, 0, 0.7);
    z-index: -1;
}

.content {
    
    overflow-y: scroll;
}

.big-top {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }

.text {
    color: white;
    font-family: "Roboto-SemiBold", Helvetica;
    font-size: 16px;
    letter-spacing: 0.1px;
    line-height: 20px;
    text-align: center;
    padding-top: 40px;
    margin: 0;
}