/* filter2.css */

.filter-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* 모바일 화면에서 컨테이너의 높이를 화면 높이로 설정 */
}

.filter-container object {
  width: 100%; /* 인터넷 화면에서 최대 가로 크기로 설정 */
  height: 100%; /* 인터넷 화면에서 최대 세로 크기로 설정 */
  max-height: 100%; /* 화면 세로 높이 제한 */
}

@media (max-width: 768px) {
  /* 모바일 화면에서 컨테이너 높이에 맞춰서 화면 크게 보이도록 설정 */
  .filter-container {
    height: 100vh; /* 컨테이너의 높이를 화면 높이로 설정 */
  }

  .filter-container object {
    width: auto; /* 가로 크기를 자동으로 설정하여 세로 높이에 맞추기 */
    height: 200vh; /* 화면 세로 높이의 2배로 설정하여 확대 */
  }
}
