.centered-and-scaled {
    /* 화면 중앙 정렬을 위한 스타일 */
    display: flex;
    justify-content: center;
    align-items: center;
  
    /* 가로세로 2배 확대를 위한 스타일 */
    /* transform: scale(2); */
    width: 100% ;
    height: 100% ;
  }