/* filter2.css */

.filter-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.filter-container object {
  width: 100%; /* 컴퓨터 환경에서 최대 가로 사용 */
   /* 화면 세로 높이 제한 */
}

@media (max-width: 768px) {
  /* 모바일 화면에서 가로세로 비율 조절 */
  .filter-container object {
    width: calc(100vh * 2); /* 가로세로 비율 1:2로 확대 */
  }
}