.div {
    position: relative;
    letter-spacing: 0.1px;
    line-height: 20px;
    font-weight: 500;
  }
  .m324wifi-icon {
    position: relative;
    width: 24px;
    height: 24px;
    overflow: hidden;
    flex-shrink: 0;
  }
  .icons,
  .status-bar {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .status-bar {
    align-self: stretch;
    padding: 14px 24px;
    align-items: center;
    justify-content: space-between;
  }
  .m324menu-icon {
    position: relative;
    width: 24px;
    height: 24px;
    overflow: hidden;
    flex-shrink: 0;
    cursor: pointer;
  }
  .httpslottiefilescomanimat-icon {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
  }
  .group-child {
    position: absolute;
    top: 96.13px;
    left: 28.52px;
    width: 27.5px;
    height: 70.96px;
  }
  .httpslottiefilescomanimat-icon1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 81.48px;
    height: 81.51px;
    object-fit: cover;
  }
  .div2 {
    position: absolute;
    top: 117.49px;
    left: 71.08px;
    letter-spacing: 0.1px;
    line-height: 30px;
    font-weight: 600;
    display: inline-block;
    width: 135.89px;
    height: 31.19px;
  }
  .group-parent {
    position: absolute;
    top: 12.48px;
    left: 132.76px;
    width: 206.98px;
    height: 167.09px;
  }
  .httpslottiefilescomanimat-parent {
    align-self: stretch;
    flex: 1;
    position: relative;
    text-align: center;
    font-size: 12px;
  }
  .android-82 {
    position: relative;
    border-radius: 22px;
    background-color: #000;
    width: 100%;
    height: 758px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    font-size: 14px;
    color: #fff;
    font-family: Roboto;
  }
  