.p {
  margin: 0;
}
.mono-txt,
.mono-wrapper {
  position: absolute;
}
.mono-txt {
  top: calc(50% - 100px);
  left: calc(50% - 108px);
  right: 0px;
  letter-spacing: 0.1px;
  line-height: 30px;
}
.mono-wrapper {
  top: calc(50% - 82px);
  width: 400px;
  height: 200px;
  justify-content: center;
  text-align: center;
  font-size: 24px;
  color: #f9f9f9;
}

.mono {
  position: relative;
  border-radius: 22px;
  background-color: #000;
  width: 100%;
  height: 758px;
  overflow: hidden;
  font-size: 14px;
  font-family: Roboto;
}
