.background {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  opacity: 0.3;
}

.div {
  word-break: keep-all;
  color: #f9f9f9;
  position: relative;
  letter-spacing: 0.1px;
  line-height: 20px;
  font-weight: 500;
}

.parent {
  margin: 0;
  position: absolute;
  width: 100%;
  top: 52px;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  padding: 14px 24px;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
}
.button-wrapper001,
.buttonslight002,
.buttonslight001 {
  border-radius: 100px;
  display: flex;
  /* align-items: center; */
}
.button-wrapper001 {
  flex-direction: row;
  padding: 10px 24px;
  justify-content: center;
}
.buttonslight001 {
  margin-top: 230px;
  margin-bottom: 100px;
  left: 50px;
  right: 50px;
  position: absolute;
  flex-direction: column;
  border-radius: 100px;
  background-color: rgba(230, 224, 233, 0.12);
  cursor: pointer;
}
.buttonslight002 {
  margin-top: 300px;
  left: 50px;
  right: 50px;
  position: absolute;
  flex-direction: column;
  border-radius: 100px;
  background-color: rgba(230, 224, 233, 0.12);
  cursor: pointer;
}
.p {
  margin: 0;
}

.divforselect {
  margin-top: 200px;
  padding: auto;
}

.div003 {
  word-break: keep-all;
  position: absolute;
  left: 50px;
  right: 50px;
  margin-top: 200px;
  margin-bottom: 10px;
  font-size: 20px;
  letter-spacing: 0.1px;
  line-height: 30px;
  color: #f9f9f9;
  display: inline-block;
  height: 156.91px;
}

.simul-412 {
  position: relative;
  border-radius: 22px;
  background-color: #000000;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 14px;
  font-family: Roboto;
}
