.upload {
    max-width: 700px;
    width: 100%;
    height: 50%;
    margin: 0 auto;
}


.btn {
    flex-grow: 1;
    text-align: center;
    margin: 5px;
    padding: 10px;
    background-color: #96969637; color: white;
    border-radius: 12px;
    border: none;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

input {
    display: none;
}

.uploadimg {
    width: 80%;
    height: 75%;
    display: block;
    margin: auto;
}