.android {
  align-items: center;
  background-color: #363636;
  border: 7px none;
  display: flex;
  flex-direction: column;
  height: var(--variable-collection-HEIGHT);
  position: relative;
  width: var(--variable-collection-WIDTH);
}

.android .design-component-instance-node {
  align-self: stretch !important;
  flex: 0 0 auto !important;
  width: 100% !important;
}

.android .frame-62 {
  align-self: stretch !important;
  flex: 1 !important;
  flex-grow: 1 !important;
  height: unset !important;
  width: 100% !important;
}
