.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.navbar {
  /* align-items: center; */
  display: flex;
  flex-direction: row;
  width: 100vw;
  align-items: center;
}

.back-default {
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.7) 0%,
      rgba(8.37, 8.37, 8.37, 0.42) 56.25%,
      rgba(51.85, 51.85, 51.85, 0) 100%
  );
}

.back-white {
  background-color: white;
}

.back-default .element {
  color: whitesmoke;
}

.back-white .element {
  color: black;
}

.nav .element {
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.1px;
  line-height: 20px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
  margin: 14px;
  margin-right: auto;
}


.m-menu {
  margin-left: auto;
  height: 27px ;
  position: relative ;
  width: 27px ;
  margin: 12px;
}

.sidebar {
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  transition: 0.4s ease;
}

.non-background {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}