.display {
    height: 100vh;
    width: 100vw;
}

.rectangle {
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.25) 61.98%,
        rgba(0, 0, 0, 0.47) 80.66%,
        rgba(0, 0, 0, 0.5) 100%
    );
    z-index: -1;
}


.big-top {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }

.back {
    z-index: -2;
}


.ai-content .main {
    text-align: center;
    padding-bottom: 50px;
    margin: 0;
}
