.phone-num {
  font-size: 30px;
  top: 100px;
  color: #fff;
  text-align: center;
  letter-spacing: 0.1px;
  line-height: 20px;
  font-weight: 500;
}

.call-btn1,
.call-btn2,
.red-btn {
  position: absolute;
  width: 70px;
  height: 70px;
}

.call-btn1 {
  bottom: 150px;
  left: 66px;
}

.call-btn2 {
  bottom: 150px;
  right: 66px;
}

.red-btn {
  bottom: 150px;
}

.count-time,
.calling-txt {
  color: #fff;
  text-align: center;
  font-size: 17px;
  letter-spacing: 0.1px;
  line-height: 30px;
  font-weight: 300;
  margin-bottom: 20px;
}

.call-img {
  height: 15px;
  width: 15px;
  padding-right: 7px;
}

.call-wrapper {
  position: fixed;
  top: 150px;
  align-items: center;
}

.group-parent {
  position: relative;
  overflow: hidden;
  flex: 1;
  justify-content: center;
  align-items: center;
}
.start1 {
  border-radius: 22px;
  background-color: #000;
  width: 100%;
  height: 758px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-family: Roboto;
}
