.next-btn {
  position: absolute;
  right: 41px;
  bottom: 99px;
  width: 49px;
  height: 49px;
  cursor: pointer;
  z-index: 10;
}

.android-88 {
  position: relative;
  border-radius: 22px;
  width: 100%;
  height: 758px;
  overflow: hidden;
  text-align: left;
  font-size: 14px;
  color: #fff;
  font-family: Roboto;
}
