
.homeFrame { 
  background-position: 50% 50%;
  background-size: cover;
  width: 100%;
  height: 900px;
  position: relative;
}

img {
  object-fit: cover;
}

.home1 {
  content: url(assets/images/home1.png);
}
.home2 {
  content: url(assets/images/home2.png);
}
.home3 {
  content: url(assets/images/home3.png);
}
.home4 {
  content: url(assets/images/home4.png);
}
.home5 {
  content: url(assets/images/home5.png);
}

.big-top {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}


.homeFrame .rectangle {
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.25) 61.98%,
      rgba(0, 0, 0, 0.47) 80.66%,
      rgba(0, 0, 0, 0.5) 100%
  );
}

.homeFrame .group {
  height: 101px;
  left: 25px;
  position: absolute;
  bottom: 80px;
  width: 80%;
  min-width: 250px;
}

.homeFrame .overlap-group {
  position: static;
}

.homeFrame .title {
  color: #ffffff;
  font-family: "Roboto-SemiBold", Helvetica;
  font-size: 24px;
  font-weight: 600;
  left: 0;
  letter-spacing: 0.1px;
  line-height: 30px;
  min-width: 230px;
  width: 100%;
}

.frame .subtitle {
  color: #ffffff;
  font-family: "Roboto-Regular", Helvetica;
  font-size: 15px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0.1px;
  line-height: 30px;
  width: 192px;
}
