
.homeFrame { 
  background-position: 50% 50%;
  background-size: cover;
  width: 100%;
  height: calc(var(--vh, 1vh) * 100);
  position: relative;
}

img {
  object-fit: cover;
}

.home1 {
  content: url(assets/images/home1.png);
}
.home2 {
  content: url(assets/images/home2.png);
}
.home3 {
  content: url(assets/images/home3.png);
}
.home4 {
  content: url(assets/images/home4.png);
}
.home5 {
  content: url(assets/images/home5.png);
}

.big-top {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}


.homeFrame .rectangle {
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.25) 61.98%,
      rgba(0, 0, 0, 0.47) 80.66%,
      rgba(0, 0, 0, 0.5) 100%
  );
}

.p-bottom {
  bottom: 100px;
}

.p-top {
  top: 200px;
}

.p-middle {
  top: 300px;
}

.p-center {
  top: 40%;
  text-align: center;
}

.homeFrame .group {
  height: 101px;
  padding-left: 5%;
  position: absolute;
  width: 90%;
  min-width: 250px;
}

.homeFrame .overlap-group {
  position: static;
}

.homeFrame .title {
  color: #ffffff;
  font-family: "Roboto-SemiBold", Helvetica;
  font-size: 26px;
  font-weight: 600;
  left: 0;
  letter-spacing: 0.1px;
  line-height: 30px;
  min-width: 230px;
  width: 100%;
  white-space: pre-wrap;
  word-break: keep-all;
  padding-bottom: 20px;
}

.homeFrame .subtitle {
  color: white;
  font-family: "Roboto-Regular", Helvetica;
  font-size: 16px;
  font-weight: 600;
  left: 0;
  letter-spacing: 0.1px;
  line-height: 30px;
  width: 100%;
  text-align: center;
  margin-left: 10px;
}

.home-btn {
  border: 2px solid #ffffff;
  background-color: transparent;
  height: 44px;
  border-radius: 100px;
  display: flex;
  align-items: center;
}

.home-btn .nxtbtn {
  width: 35px;
  color: white;
  margin-right: 10px;
}