.upload {
    max-width: 700px;
    width: 100%;
    height: 50%;
    margin: 0 auto;
}


.test-btn {
    word-break: keep-all;
}

input {
    display: none;
}

.test {
    width: 100%;
    margin-top: 40%;
}
.testimg {
    width: 100%;
    height: 300px;
    display: block;
    margin: auto;
}

.progress {
    position: fixed;
    right: 18%;
    top: 22%;
}

.btn {
    flex-grow: 1;
    text-align: center;
    margin: 20px;
    padding: 10px;
    background-color: #96969637;
    color: white;
    border-radius: 12px;
    border: none;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}