.box {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.group {
  display: flex;
  width: 100%;
  height: 600px;
}

.box .Thumnail1 {
  position: absolute;
  border-radius: 50%;
  height: 276px;
  width: 276px;
  overflow: hidden;
  border: 5px solid rgba(47, 47, 47, 0.8);
}

.box .ImgBox1 {
  height: 276px;
  left: 0;
  object-fit: cover;
  position: fixed;
  top: 0;
  width: 244px;
}

.box .Thumnail2 {
  position: absolute;
  border: 5px solid rgba(47, 47, 47, 0.8);
  border-radius: 50%;
  height: 197px;
  width: 197px;
  overflow: hidden;
}

.box .ImgBox2 {
  height: 197px;
  left: 0;
  position: fixed;
  top: 0;
  width: 186px;
}
/* 여기가 2 */

.box .Thumnail3 {
  position: absolute;
  border: 5px solid rgba(47, 47, 47, 0.8);
  border-radius: 50%;
  height: 180px;
  width: 180px;
  overflow: hidden;
}

.box .ImgBox3 {
  height: 180px;
  left: 0;
  position: fixed;
  top: 0;
  width: 180px;
}
