.black {
    color: black;
}

.contents {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.contents .title {
    text-align: center;
    margin-top: 20%;
    margin-bottom: 10%;
}

.items {
    display: flex;
    flex-direction: column;
    padding: 0;
}

.items .item {
    width: 94%;
    margin-left: 3%;
    margin-bottom: 40px;
}

.tags {
    margin-top: 10px;
    color: rgb(0, 98, 255);
    font-size: 1rem;
    font-weight: 100;
}

.item .line {
    margin-top: 30px;
    width: 100%;
    height: 1px;
    background-color: rgb(96, 96, 96);
}

.item .like {
    display: flex;
    height: 30px;
}