.loading .small-img {
    width: 30%;
}

.loading {
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: black;
    position: absolute;
    top: 0;
    z-index: 2;
    display: flex;
    align-items: center;
}

