.navbar {
  /* align-items: center; */
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.7) 0%,
      rgba(8.37, 8.37, 8.37, 0.42) 56.25%,
      rgba(51.85, 51.85, 51.85, 0) 100%
  );
  display: flex;
  flex-direction: row;
  width: 100vw;
  align-items: center;
}

.element {
  color: whitesmoke;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.1px;
  line-height: 20px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
  margin: 14px;
  margin-right: auto;
}

.m-menu {
  margin-left: auto;
  height: 24px ;
  position: relative ;
  width: 24px ;
  margin: 14px;
}
